<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itachi1706.cheesecakeutilities">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".MainMenuActivity"
            android:theme="@style/AppTheme.NoAppBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/static_shortcuts" />
        </activity>
        <activity
            android:name=".StringToHexBin"
            android:exported="true"
            android:label="@string/bin_hex_title_full"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".SpamMessages"
            android:exported="true"
            android:label="@string/msg_spam_title"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".GeneralSettingsActivity"
            android:label="@string/title_activity_general_settings" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4a76e5bed29f3c6bc0d8e90c16212c07cb8efbc0" />

        <activity
            android:name=".Modules.HtcSerialIdentification.HtcSerialIdentificationActivity"
            android:exported="true"
            android:label="HTC S/N Identification" />
        <activity
            android:name=".Modules.FanfictionCompactor.FanfictionCompactorActivity"
            android:exported="true"
            android:label="@string/ff_compat_title"
            android:launchMode="singleTop" />

        <service
            android:name=".Modules.FanfictionCompactor.Services.FanficCompressionService"
            android:exported="true"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".CameraDisablerActivity"
            android:exported="true"
            android:label="Disable Camera" />

        <receiver
            android:name=".CameraDisablerActivity$DeviceAdminReceiver"
            android:description="@string/camera_disable_desc"
            android:label="@string/camera_disable_device_admin_label"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/camera_device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Modules.ListApplications.ListApplicationsActivity"
            android:exported="true"
            android:label="Application List" />
        <activity
            android:name=".Modules.ORDCountdown.ORDActivity"
            android:exported="true"
            android:label="ORD Countdown" />
        <activity
            android:name=".Modules.ORDCountdown.ORDSettingsActivity"
            android:label="@string/ord_settings_label" />

        <receiver
            android:name=".Modules.ORDCountdown.WidgetProviders.ORDCountdownWidgetProvider"
            android:label="ORD Countdown"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ordcountdown_widget_provider_info" />
        </receiver>
        <receiver
            android:name=".Modules.ORDCountdown.WidgetProviders.POPCountdownWidgetProvider"
            android:label="POP Countdown"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/popcountdown_widget_provider_info" />
        </receiver>

        <activity
            android:name=".BmiCalculatorActivity"
            android:exported="true"
            android:label="BMI Calculator" />
        <activity
            android:name=".Modules.IPPTCalculator.IpptCalculatorActivity"
            android:exported="true"
            android:label="IPPT Calculator" />
        <activity
            android:name=".Modules.IPPTCalculator.IpptScoringActivity"
            android:label="IPPT Scoreboard" />
        <activity
            android:name=".Modules.ListApplications.ListApplicationsDetailActivity"
            android:label="App Information" />
        <activity
            android:name=".Features.FingerprintAuth.AuthenticationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Modules.SystemInformation.InitActivity"
            android:exported="true" />
        <activity
            android:name=".Modules.SystemInformation.ParentFragmentActivity"
            android:label="System Information"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Modules.NavbarCustomization.NavBarService"
            android:label="Customize Navigation Bar"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":NavBarCustomizer">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <activity
            android:name=".Modules.NavbarCustomization.NavbarConfigurationActivity"
            android:exported="true"
            android:label="Navigation Bar Customizer" />
        <activity
            android:name=".Games.TicTacToe.TicTacToeActivity"
            android:exported="true"
            android:label="Tic Tac Toe" />
        <activity
            android:name=".Features.UtilityManagement.ManageUtilityActivity"
            android:label="Utilities Management" />
        <activity
            android:name=".Modules.AppRestore.RestoreAppActivity"
            android:exported="true"
            android:label="Restore Application" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.appupdater.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_restore_provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".Modules.ListApplications.ListApplicationsApiGraphActivity"
            android:label="Graph by API Level" />
        <activity
            android:name=".Modules.SafetyNet.SafetyNetActivity"
            android:exported="true"
            android:label="SafetyNet Validator" />
        <activity
            android:name=".Modules.UnicodeKeyboard.UnicodeActivity"
            android:exported="true"
            android:label="Unicode Emoticons" />
        <activity
            android:name=".Games.ChromiumTRex.ChromiumTRexActivity"
            android:exported="true"
            android:label="Chrome T-Rex Game" />
        <activity
            android:name=".LaunchTileSettingsActivity"
            android:exported="true" />
        <activity
            android:name=".Modules.ConnectivityQuietHours.ConnectivityQuietHoursActivity"
            android:exported="true"
            android:label="Connectivity Quiet Hours Configuration" />

        <receiver
            android:name=".Modules.ConnectivityQuietHours.Receivers.BluetoothToggleReceiver"
            android:enabled="true" />
        <receiver
            android:name=".Modules.ConnectivityQuietHours.Receivers.WifiToggleReceiver"
            android:enabled="true" />
        <receiver
            android:name=".Modules.ConnectivityQuietHours.Receivers.BootRescheduleToggleReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".CreateShortcuts">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.VehicleMileageTracker.VehicleMileageTrackerLoginActivity"
            android:exported="true"
            android:label="@string/title_activity_vehicle_mileage_tracker_login" />
        <activity
            android:name=".Modules.VehicleMileageTracker.VehicleMileageMainActivity"
            android:label="Vehicle Mileage Tracker" />
        <activity
            android:name=".Modules.VehicleMileageTracker.AddNewVehicleActivity"
            android:label="Add a new Vehicle" />
        <activity
            android:name=".Modules.VehicleMileageTracker.AddNewMileageRecordActivity"
            android:label="Add a new Mileage Record" />
        <activity
            android:name=".Modules.VehicleMileageTracker.ViewVehicleActivity"
            android:label="View All Vehicles" />
        <activity
            android:name=".Modules.VehicleMileageTracker.VehicleMileageStatisticsActivity"
            android:label="Mileage Statistics"
            android:theme="@style/AppTheme.NoAppBar" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".Modules.BarcodeTools.BarcodeParentActivity"
            android:label="Barcode Tools"
            android:theme="@style/AppTheme.NoAppBar" />
        <activity
            android:name=".Modules.BarcodeTools.BarcodeCaptureActivity"
            android:label="Scan Barcode" />
        <activity
            android:name=".Modules.LyricFinder.LyricFinderActivity"
            android:label="Now Playing Lyrics" />

        <service
            android:name=".Modules.LyricFinder.LyricNotificationListener"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":LyricNotifListener">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".Modules.VehicleMileageTracker.GenerateMileageRecordActivity"
            android:label="Generate Mileage Report" />
        <activity android:name=".Modules.SGPsi.PsiActivity"
            android:label="SG PSI"/>
        <activity android:name=".Modules.SGPsi.PsiGraphActivity"
            android:label="SG PSI Graphs"
            android:theme="@style/AppTheme.NoAppBar"/>
    </application>

</manifest>