<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itachi1706.cheesecakeutilities">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" android:maxSdkVersion="25" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">

        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".MainMenuActivity"
            android:theme="@style/AppTheme.NoAppBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/static_shortcuts" />
        </activity>
        <activity
            android:name=".StringToHexBin"
            android:exported="true"
            android:label="@string/bin_hex_title_full"
            android:theme="@style/LegacyDarkTheme" />
        <activity
            android:name=".SpamMessages"
            android:exported="true"
            android:label="@string/msg_spam_title"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GeneralSettingsActivity"
            android:label="@string/title_activity_general_settings" />
        <activity
            android:name=".UtilitySettingsActivity"
            android:label="Utility Specific Settings" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4a76e5bed29f3c6bc0d8e90c16212c07cb8efbc0" />

        <activity
            android:name=".Modules.HtcSerialIdentification.HtcSerialIdentificationActivity"
            android:exported="true"
            android:label="HTC S/N Identification" />
        <activity
            android:name=".Modules.FanfictionCompactor.FanfictionCompactorActivity"
            android:exported="true"
            android:label="@string/ff_compat_title"
            android:launchMode="singleTop" />

        <service
            android:name=".Modules.FanfictionCompactor.Services.FanficCompressionService"
            android:exported="true"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".CameraDisablerActivity"
            android:exported="true"
            android:label="Disable Camera" />

        <receiver
            android:name=".CameraDisablerActivity$DeviceAdminReceiver"
            android:description="@string/camera_disable_desc"
            android:label="@string/camera_disable_device_admin_label"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/camera_device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Modules.ListApplications.ListApplicationsActivity"
            android:exported="true"
            android:label="Application List"
            android:theme="@style/AppTheme.NoAppBar" />
        <activity
            android:name=".Modules.ORDCountdown.ORDActivity"
            android:exported="true"
            android:label="ORD Countdown" />
        <activity
            android:name=".Modules.ORDCountdown.ORDSettingsActivity"
            android:label="@string/ord_settings_label" />
        <activity
            android:name=".Modules.ORDCountdown.WidgetProviders.ORDWidgetConfigurationActivity"
            android:label="Configure ORD Event Countdown Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".Modules.ORDCountdown.WidgetProviders.EventCountdownWidgetProvider$UpdateWidgetService"
            android:exported="true"
            android:label="Update ORD Widgets"
            tools:ignore="InnerclassSeparator" />

        <receiver
            android:name=".Modules.ORDCountdown.WidgetProviders.EventCountdownWidgetProvider"
            android:label="ORD Event Countdown"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/eventcountdown_widget_provider_info" />
        </receiver>

        <activity
            android:name=".BmiCalculatorActivity"
            android:exported="true"
            android:label="BMI Calculator" />
        <activity
            android:name=".Modules.IPPTCalculator.IpptCalculatorActivity"
            android:exported="true"
            android:label="IPPT Calculator" />
        <activity
            android:name=".Modules.IPPTCalculator.IpptScoringActivity"
            android:label="IPPT Scoreboard" />
        <activity
            android:name=".Modules.ListApplications.ListApplicationsDetailActivity"
            android:label="App Information" />
        <activity
            android:name=".Features.FingerprintAuth.AuthenticationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Modules.SystemInformation.InitActivity"
            android:exported="true" />
        <activity
            android:name=".Modules.SystemInformation.ParentFragmentActivity"
            android:label="System Information"
            android:theme="@style/LegacyLightThemeNoAppBar" />

        <service
            android:name=".Modules.NavbarCustomization.NavBarService"
            android:label="Customize Navigation Bar"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":NavBarCustomizer">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <activity
            android:name=".Modules.NavbarCustomization.NavbarConfigurationActivity"
            android:exported="true"
            android:label="Navigation Bar Customizer" />
        <activity
            android:name=".Games.TicTacToe.TicTacToeActivity"
            android:exported="true"
            android:label="Tic Tac Toe" />
        <activity
            android:name=".Features.UtilityManagement.ManageUtilityActivity"
            android:label="Utilities Management" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_restore_provider_paths" />
        </provider>

        <activity
            android:name=".Modules.ListApplications.ListApplicationsApiGraphActivity"
            android:label="Graph by API Level" />
        <activity
            android:name=".Modules.SafetyNet.SafetyNetActivity"
            android:exported="true"
            android:label="SafetyNet Validator" />
        <activity
            android:name=".Modules.UnicodeKeyboard.UnicodeActivity"
            android:exported="true"
            android:label="Unicode Emoticons" />
        <activity
            android:name=".Games.ChromiumTRex.ChromiumTRexActivity"
            android:exported="true"
            android:label="Chrome T-Rex Game" />
        <activity
            android:name=".LaunchTileSettingsActivity"
            android:exported="true" />
        <activity
            android:name=".Modules.ConnectivityQuietHours.ConnectivityQuietHoursActivity"
            android:exported="true"
            android:label="Connectivity Quiet Hours Configuration" />

        <receiver
            android:name=".Modules.ConnectivityQuietHours.Receivers.BluetoothToggleReceiver"
            android:enabled="true" />
        <receiver
            android:name=".Modules.ConnectivityQuietHours.Receivers.WifiToggleReceiver"
            android:enabled="true" />
        <receiver android:name=".Modules.ConnectivityQuietHours.Receivers.DeleteNotificationIntent">
            <intent-filter>
                <action android:name="subitem_cancelled" />
                <action android:name="summary_cancelled" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Modules.ConnectivityQuietHours.Receivers.BootRescheduleToggleReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".CreateShortcuts">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.VehicleMileageTracker.VehicleMileageMainActivity"
            android:label="Vehicle Mileage Tracker" />
        <activity
            android:name=".Modules.VehicleMileageTracker.AddNewVehicleActivity"
            android:label="Add a new Vehicle" />
        <activity
            android:name=".Modules.VehicleMileageTracker.AddNewMileageRecordActivity"
            android:label="Add a new Mileage Record" />
        <activity
            android:name=".Modules.VehicleMileageTracker.ViewVehicleActivity"
            android:label="View All Vehicles" />
        <activity
            android:name=".Modules.VehicleMileageTracker.VehicleMileageStatisticsActivity"
            android:label="Mileage Statistics"
            android:theme="@style/AppTheme.NoAppBar" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".Modules.BarcodeTools.BarcodeParentActivity"
            android:exported="true"
            android:label="Barcode Tools"
            android:theme="@style/AppTheme.NoAppBar" />
        <activity
            android:name=".Modules.BarcodeTools.BarcodeCaptureActivity"
            android:label="Scan Barcode" />
        <activity
            android:name=".Modules.LyricFinder.LyricFinderActivity"
            android:exported="true"
            android:label="Now Playing Lyrics" />

        <service
            android:name=".Modules.LyricFinder.LyricNotificationListener"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":LyricNotifListener">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".Modules.VehicleMileageTracker.GenerateMileageRecordActivity"
            android:label="Generate Mileage Report" />
        <activity
            android:name=".Modules.SGPsi.PsiActivity"
            android:exported="true"
            android:label="SG Weather (PSI Only)" />
        <activity
            android:name=".Modules.SGPsi.PsiGraphActivity"
            android:label="SG PSI Graphs"
            android:theme="@style/AppTheme.NoAppBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Modules.MSLIntegration.MSLActivity"
            android:label="MSL Sync" />

        <service
            android:name=".Modules.MSLIntegration.SyncMSLService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity
            android:name=".Modules.MSLIntegration.MslWebViewWhyActivity"
            android:label="MSL Sync" />

        <activity
            android:name=".Modules.CEPASReader.CEPASActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="CEPAS Reader"
            android:screenOrientation="sensorPortrait"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/${applicationId}.card" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.WhoisLookup.WhoisLookupActivity"
            android:label="Domain Whois Query" />
        <activity
            android:name=".Modules.APKMirrorDownloader.APKMirrorActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="APKMirror Downloader"
            android:resizeableActivity="false"
            android:supportsPictureInPicture="false"
            android:theme="@style/ApkMirrorSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.apkmirror.com" />
            </intent-filter>
        </activity>
        <activity android:name=".Modules.VehicleMileageTracker.VehicleMileageTrackerInitActivity" />
        <activity
            android:name=".FirebaseLoginActivity"
            android:label="@string/label_firebase_sign_in" />

        <activity
            android:name=".Modules.gpaCalculator.GpaCalculatorMainActivity"
            android:label="@string/title_activity_gpa_calculator_main"
            android:theme="@style/AppTheme.NoAppBar" />

        <activity
            android:name=".Modules.gpaCalculator.GpaCalculatorInitActivity"
            android:label="@string/title_activity_gpa_calculator_main" />
    </application>

</manifest>